body {
    background: url(https://w-dog.ru/wallpapers/9/10/460293184986657/pejzazh-priroda-nebo-oblaka-goluboe-nebo-den-rozovyj-fon-oboi-shirokoformatnye-polnoekrannye-shirokoekrannye-shirokoformatnyj.jpg) no-repeat;
    font-family: 'Montserrat', sans-serif;
}
button {
    
    background: #f7ba43;
    border: none;
}

button:hover {
    background: #f2912a;
}
.divstart {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.divstart input {
    width: 45%;
    height: 32px;
    border-radius: 5px;
    border: none;
    margin-right: 30px;
}
#addCity {
    border-radius: 5px;
    font-size: 14px;
    width: 10%;
}
.city {
    background: #ffffff;
    border-radius: 5px;
    width: 80%;
    height: auto;
    /* border: 1px solid grey; */
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.city p {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.city input {
    border: 1px solid grey;
    width: 84.5%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

#save {
    width: 11%;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}
.hidden {
    display: none!important;
}

.div__flex {
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 64%;
    
}

.my__weather {
    width: 40%;    
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
.my__weather button {
    padding: 10px 190px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;

}

.exchange__rates {
    width: 40%;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
.exchange__rates button {
    padding: 10px 177px;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
}
.wrapper {
    width: 80%;
}
.enter__div {
    display: flex;
    align-items: center;
}
.enter__div button {
    margin: 10px;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 14px;
}
