.divstart {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.city {
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.city p {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none!important;
}

.div__flex {
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.my__weather {
    width: 40%;    
    border: 1px solid red;
}

.exchange__rates {
    width: 40%;
    border: 1px solid red;
}
